:root {
    --white: #FFFDFA;
    --red: #9c2f2f;
    --black: #121212;
    --silver: #DAD9D9;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0rem;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    height: 24px;
    width: 100%;
    background-color: var(--red);
    display: flex;
    align-items: center;
}

.navbar li {
    display: inline;
    margin: 0 5px;

}

.navbar a {
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: var(--white);
    transition: .3s;
}

/*each container is full-screen */

#homecontainer, #rostercontainer {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

/*HOME CONTAINER STYLING*/

#homecontainer {
    background-color: var(--red);
}

.home-header {
    color: var(--black);
    font-size: 600%;
    position: absolute;
    top: 5%;
    left: 5%;
}

.home-subheader {
    color: var(--white);
    position: absolute;
    top: 25%;
    left: 5.5%;
}

/*ROSTER CONTAINER STYLING*/

#rostercontainer {
    background-color: var(--black);
    padding-top: 0;
}

.roster-header {
    color: var(--white);
    font-size: 550%;
    position: relative;
    top: 2.5%;
    left: 5%;
}

.playercards-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 75%;
}

.playercard {
    position: relative;
    display: inline-block;
    width: 15rem;
    height: 20rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.playercard img {
    object-fit: cover;
    width: 15rem;
    height: 20rem;
}

.playertext {
    position: relative;
    display: flex;
    justify-content: center;
    color: var(--white);
}

/*HISTORY CONTAINER STYLING */

#historycontainer {
    background-color: var(--silver);
    min-height: 100vh;
}

.history-header {
    color: var(--black);
    font-size: 600%;
    position: relative;
    top: 5%;
    left: 5%;
    padding-top: 16px;
}

.history-subheader {
    position: relative;
    display: flex;
    justify-content: center;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    border: 1px solid black;
}

a.img:hover {
    /*what if i did a hover effect that just showed the text for that player? "Khalif Battle - scoring guard - 17.4 ppg / 3.5 rpg / 2.7 apg*/
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: relative;
    left: 5%;
    top: 50%;
    transform: translate(0%, -50%);
    padding-bottom: 600px;
}

/*fix the script to make image track functional*/
