:root {
    --white: #FFFDFA;
    --red: #9D2235;
    --black: #121212;
    --silver: #f2f2f4;
}

html, body {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    overflow-x: hidden;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    height: 40px;
    background: var(--red);
    display: flex;
    align-items: center;
    color: var(--white);
}

.navbar li {
    display: inline;
    margin: 0 .5rem;
}

.navbar a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: var(--black);
    transition: .2s;
}

#homecontainer, #rostercontainer {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 0;
}

/* Home Section Styling */

.homecontainer {
    background: linear-gradient(180deg, #9D2235 30%, #121212);
   /* background: -webkit-linear-gradient(to right, #9c2f2f, #DAD9D9);
    background: linear-gradient(to right, #9c2f2f, #DAD9D9); */
}


.home-header {
    color: var(--white);
    font-size: 500%;
    font-weight: 800;
    position: absolute;
    top: 5%;
    left: 5%;
}

.home-subheader {
    color: var(--white);
    position: absolute;
    top: 28%;
    left: 5.5%;
}

.section-border {
    width: 100%;
    height: 100%;
}

/* End Home Section Styling */

/* ----------------------------------------- */


/* Roster Section Styling */

#rostercontainer {
    background: linear-gradient(180deg, #121212 30%, #f2f2f4);
    /* padding-top: 0; */
    padding-bottom: 2rem;
    min-height: 100vh;
    height: fit-content;
}

.roster-header {
    color: var(--white);
    font-size: 550%;
    margin: 0 auto;
    position: relative;
    padding-top: 1rem;
    padding-left: 5rem;
}

.playercards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: .5rem;
    padding-bottom: 2rem;
}

.playercard-row {
    display: flex;
    justify-content: space-between;
    width: 90%;
    /* padding: 1rem; */
}



.playercard {
    position: relative;
    display: inline-block;
    width: 15rem;
    height: 20rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.playercard img {
    object-fit: cover;
    width: 15rem;
    height: 20rem;
}

.playercard img:hover {
    scale: 102%;
}

.playertext {
    position: relative;
    display: flex;
    justify-content: center;
    color: var(--white);
    top: -.5rem;
}

.bottom-row {
    color: var(--black);
}

.bottom {
    border: 1px solid var(--black);
}

/* End Roster Section Styling */


/* ----------------------------------------- */


/* History Section Styling */

#historycontainer {
    background: linear-gradient(180deg, #f2f2f4 30%, #9d2235);
    min-height: 100vh;
    height: 75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 5rem;
}

.history-header {
    color: var(--black);
    font-size: 600%;
    position: relative;
    padding-top: 1rem;
    padding-left: 5rem;
}

.history-subheader {
    position: relative;
    display: flex;
    justify-content: center;
}

#image-track > .image {
    width: 26vmin;
    height: 42vmin;
    object-fit: cover;
    object-position: 50% left;
    border: 1px solid black;
}

div#image-track {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 15px;
    justify-content: space-between;
}


/* End History Section Styling*/

/* ----------------------------------------- */

/* Team Stats Styling */

.team-stats-container {
    background: var(--red);
    padding-top: 1rem;
    padding-bottom: 2rem;
    min-height: 100vh;
    height: fit-content;
}

.team-stats-header {
    color: var(--white);
    font-size: 600%;
    position: relative;
    padding-top: 1rem;
    padding-left: 5rem;
}

.era-header {
    margin-top: 10rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 200%;
    color: var(--white);
}

.team-stats-table {
    background-color: var(--red);
    border-collapse: collapse;
}

.team-stats-table th {
    background-color: var(--red);
    color: var(--white);
}

.team-stats-table td {
    color: var(--white);
}

/* End Team Stats Styling */

/* ----------------------------------------- */

/* Individual Stats Styling */

.red-to-black {
    background: linear-gradient(180deg, #9d2235 60%, #121212);
}

.player-body {
    background-color: var(--black);
    color: var(--white);
}

.player-header {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 400%;
}

.player-twitter {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 200%;
}

.twitter-link {
    text-decoration: none;
    color: var(--white);
}

.twitter-link:hover {
    color: var(--red);
    transition: .2s;
}

.player-info {
    position: absolute;
    left: 5%;
    text-align: center;
}

.player-stats {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 1rem;
}

/* Player Image Styling */

.player-img {
    position: absolute;
    right: 10%;
    height: 20em;
    border: 1px solid var(--white
    );
}

.player-img img {
    height: 100%;
    opacity: 1;
}

.player-img img:hover {
    opacity: 1;
    transition: .4s;
}

/* Player Stats */

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
  }
  th, td {
    border: 1px solid #fff;
    padding: .5rem;
    text-align: center;
  }

.small-data {
    font-size: 75%;
}



  th {
    background-color: var(--black);
    cursor: pointer;
  }

  th:hover {
    background: hsl(0 0% 0% / .01)
  }

  th:first-child, td:first-child {
    border-left: none;
  }

  th:last-child, td:last-child {
    border-right: none;
  }

  tr:first-child th {
    border-top: none;
  }

  tr:last-child td {
    border-bottom: none;
  }

  tr:hover {
    background: hsl(0 0% 0% / .5)
  }

  tr:nth-of-type(2n) {
    background: hsl(0 0% 0% / .125);
  }

  tr:nth-of-type(2n):hover {
    background: hsl(0 0% 0% / .375);
  }

  /* End Player Stats Styling */

  /* ---------------------------- */

  /* Mobile Image Track Styling */

  @media (max-width: 1650px) {
    #image-track {
        display: block;
        margin: auto;
        width: 70%;

    }

    #image-track > img {
        width: 13vmin;
        height: 21vmin; /*FIX IMAGE MOBILE VIEW */
    }  /*FIX THIS*/
}


  /* End Mobile Image Track Styling */

  /* Mobile Playercard Styling */

  @media (max-width: 1350px) {
    .playercards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem;
        padding-bottom: 2rem;
        width: 100%;

      }
      .playercard-row {
        display: block;
        width: 100%;
        padding: 0;
        text-align: center;
      }
      .playercard {
        margin: 1rem;
        width: fit-content;
      } /* FIX THIS */
  }

  /* End Mobile Playercard Styling */

  /* ------------------------------------------- */


  /* ------ General Mobile Styling ------ */

  @media (max-width: 780px) {

    /* Navbar */

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .navbar ul {
          left: 50%;
          transform: translateX(-5%); /* check this on different devices */
      }
      .navbar li {
        margin: 10px 0;
      }

      /* End Navbar */

    /* Mobile Home :D */

    .homecontainer {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .home-header {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 450%;
        margin-top: 2em;
    }

    .home-subheader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    /* End Mobile Home D: */

    /* Mobile Players Section */

    .roster-header {
        font-size: 400%;
        display: flex;
        justify-content: start;
        margin-bottom: 2rem;
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
    }

    .playercards-container {
        display: flex;
        flex-direction: column;
        align-items: space-evenly;
        flex-wrap: wrap;
    }

    /* End Mobile Players Section */

  /* ------------------------------------------------ */


    /* MOBILE HISTORY SECTION */

    .history-header {
        font-size: 400%;
        display: flex;
        justify-content: start;
        border-top: 1px solid var(--black);
        border-bottom: 1px solid var(--black);
    }

    div#image-track {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    /* END MOBILE HISTORY SECTION */

  /* ------------------------------------------------ */


    /* MOBILE TABLE STYLING */

    .team-stats-header {
        display: flex;
        justify-content: start;
        align-items: start;
        font-size: 400%;
        margin-top: 5em;
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
    }

    .era-header {
        font-size: 150%;
    }
    
    table {
        pointer-events: none;
    }

    table thead tr {
        display: none;
    }
    table tr {
        display: block;
        margin-top: 3em;
    }
    table th, table td {
        padding:  .5em;
    }
    table td {
        text-align: right;
        display: block;
        font-size: 1.5em;
    }
    table td::before {
        content: attr(data-title) " ";
        float: left;
    }
    tbody tr :nth-child(even) {
        background: hsl(0 0% 0% / .175)
    }
    .total-postseason {
        display: none;
    }

    /* END MOBILE TABLE STYLING */
  }

  /* END GENERAL MOBILE STYLING */

  footer {
      background: var(--red);
      height: 40px;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      margin-top: 0;
      padding: 1rem;
      color: var(--white);
      text-align: center;
  }

  span {
      font-size: 80%;
  }

  footer a {
    text-decoration: none;
    color: var(--white);
  }

  footer a:hover {
    color: var(--black);
    transition: .2s;
  }
