:root {
    --white: #FFFDFA;
    --red: #9c2f2f;
    --black: #121212;
    --silver: #DAD9D9;
}

html, body {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    overflow-x: hidden;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    height: 40px;
    background-color: var(--red);
    display: flex;
    align-items: center;
    color: var(--white);
}

.navbar li {
    display: inline;
    margin: 0 .5rem;

}

.navbar a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: var(--black);
    transition: .2s;
}

/*each container is full-screen */


#homecontainer, #rostercontainer {
    height: 100vh;
    width: 100%;
    /* width: 100vw; */
    margin: 0;
    padding: 0;
    margin-top: 0;
}

/*HOME CONTAINER STYLING*/

.homecontainer {
    background: var(--black)
}


.home-header {
    color: var(--white);
    font-size: 500%;
    position: absolute;
    top: 5%;
    left: 5%;
}

.home-subheader {
    color: var(--white);
    position: absolute;
    top: 28%;
    left: 5.5%;
}

/*ROSTER CONTAINER STYLING*/

#rostercontainer {
    background-color: var(--black);
    padding-top: 0;
    padding-bottom: 2rem;
    min-height: 100vh;
    height: fit-content;
}

.roster-header {
    color: var(--white);
    font-size: 550%;
    margin: 0 auto;
    position: relative;
    padding-top: 1rem;
    padding-left: 5rem;
}

.playercards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    padding-bottom: 2rem;
}

.playercard-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
    padding: 1rem;
}

.playercard {
    position: relative;
    display: inline-block;
    width: 15rem;
    height: 20rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.playercard img {
    object-fit: cover;
    width: 15rem;
    height: 20rem;
}

.playertext {
    position: relative;
    display: flex;
    justify-content: center;
    color: var(--white);
    top: -.5rem;
}

/*HISTORY CONTAINER STYLING */

#historycontainer {
    background-color: var(--silver);
    min-height: 100vh;
    height: 75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 5rem;
}

.history-header {
    color: var(--black);
    font-size: 600%;
    position: relative;
    padding-top: 1rem;
    padding-left: 5rem;
}

.history-subheader {
    position: relative;
    display: flex;
    justify-content: center;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    border: 1px solid black;
}

img:hover {
    background-color: var(--red);
}

#image-track {
    position: relative;
    display: flex;
    gap: 3vmin;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/*fix the script to make image track functional*/

/* TEAM STATS STYLING */

.team-stats-container {
    background-color: var(--red);
    padding-top: 1rem;
    padding-bottom: 2rem;
    min-height: 100vh;
    height: fit-content;
}

.team-stats-header {
    color: var(--white);
    font-size: 600%;
    position: relative;
    padding-top: 1rem;
    padding-left: 5rem;
}

.era-header {
    margin-top: 15rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 200%;
    color: var(--white);
}

.team-stats-table {
    background-color: var(--red);
    border-collapse: collapse;
}

.team-stats-table th {
    background-color: var(--red);
    color: var(--white);
}

.team-stats-table td {
    color: var(--white);
}

/* END TEAM STATS STYLING */

/* INDIVIDUAL PLAYER PAGES STYLING */

.player-body {
    background-color: var(--black);
    color: var(--white);
}

.player-header {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 400%;
}

.player-info {
    position: absolute;
    left: 5%;
    text-align: center;
}

.player-stats {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 1rem;
}

/* If Video --- Video Styling

.video-container {
    position: relative;
    top: 60%;
    right: 0;
    transform: translateY(-50%);
    width: 50%;
    height: fit-content;
    padding-bottom: 56.25%;
    border: 1px solid white;
}

.video-container iframe {
    width: 100%;
    height: 100%;
}

*/

/* If image --- Player Image Styling*/

.player-img {
    position: absolute;
    right: 10%;
    height: 20em;
    border: 1px solid var(--white
    );
}

.player-img img {
    height: 100%;
    opacity: 1;
}

.player-img img:hover {
    opacity: 1;
    transition: .4s;
}

/* Player Stats */

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
  }
  th, td {
    border: 1px solid #fff;
    padding: .5rem;
    text-align: center;
  }
  th {
    background-color: var(--black);
  }
  th:first-child, td:first-child {
    border-left: none;
  }
  th:last-child, td:last-child {
    border-right: none;
  }
  tr:first-child th {
    border-top: none;
  }
  tr:last-child td {
    border-bottom: none;
  }

  tr:hover {
    background: hsl(0 0% 0% / .5)
  }

  tr:nth-of-type(2n) {
    background: hsl(0 0% 0% / .125);
  }

  tr:nth-of-type(2n):hover {
    background: hsl(0 0% 0% / .375);

  }
