:root {
    --white: #FFFFFF;
    --softwhite: #f2f2f2;
    --black: #000000;
    --gray: #E9ECED;
    --coral: #FF7F5A;
    --turquoise: #69D3E8;
    --lavender: #A379C9;
    --selective-yellow: #FFB802;
    --golden-yellow: #FFD700;
    --turquoise-light: #A5EDFC;
    --dodger-blue: #1DA1F2;
    --electric-blue: #3300FF;
    --purple: #9723C9;
    --magenta: #DE11D7;
    --pink: #FF7EBF;
}

html {
  font-family: 'Lexend';
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--softwhite);
}

/* NAV STYLING */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--softwhite);
  color: var(--black);
  height: 10rem;
  font-family: 'Lexend', sans-serif;
}

.navbar-logo img {
  width: 13.25rem;
  height: 3.5rem;
}

.navbar-links {
  font-size: 16px;
  font-weight: 600;
  margin-right: 2rem;
  font-family: 'Lexend', sans-serif;
}

.navbar-links a {
  color: var(--black);
  text-decoration: none;
  font-size: 1.13rem;

}

.navbar-search {
  display: flex;
}

.navbar-search img {

}

.navbar-search input {
  border: 1px solid var(--black);
  border-radius: 3px;
  height: 3.5rem;
  width: 30.88rem;
}

/* END NAV STYLING */

/* ----------------HOME PAGE STYLING ------------- */

/* HEADER STYLING */

.home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    font-size: 4.25rem;
    font-weight: 900;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 2.5rem;
    font-family: 'Lexend', sans-serif;
}

.home-subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-left: 20rem;
  margin-right: 20rem;
  line-height: 30px;
  font-family: 'Lexend', sans-serif;
}

/* FILTER STYLING */

.search-header {
  padding-top: 2.5rem;
  padding-left: 3rem;
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 35px;
}

.tools-img {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.filter-wrapper {
  width: 27rem;
  height: 135rem;
  
}

.filter-container {
    border: 1px solid black;
}

.tools-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 27.31rem;
  height: 30.63rem;
  margin-left: 3rem;
  border: 1px solid var(--black);
  border-radius: 8px;
}

.tools-wrapper h4 {
  width: 405px;
  height: 30px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: right;
}

.tools-container {
  width: 25%;
}

.tools-container p {
  font-size: .88rem;
  text-align: center;
  font-family: 'Lexend', sans-serif;
}

.tools-img {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 10px auto;
}

.tools-img:hover {
  transform: scale(1.1);
}

.players-wrapper {
  width: 27.31rem;
  height: 9.38rem;
  margin-left: 3rem;
  margin-top: 2rem;
  border: 1px solid black;
  border-radius: 8px;
  font-weight: 400;
}

.players-wrapper select {
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 14px 24px;
gap: 8px;
width: 405px;
height: 56px;
left: 15px;
top: 659px;

background: #E9ECED;
border: 2px solid #000000;
border-radius: 4px;
}


option:active {
  border: 2px solid var(--coral);
}

/* END FILTER STYLING */


/* RESULTS STYLING */

.cards-list {
  display: none;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10rem;
  }

  .card {
    box-sizing: border-box;
    display: none;
    width: 210px;
    height: 430px;
    justify-content: space-around;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 8px;
  }

  .card_title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    height: 40px;
    border: 1px solid red;
  }

  .card-description {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    border: 1px solid red;
  }

  .card-images {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px sold red;
  }

  .card-filter-icons img {
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .card-filter-text {
    font-size: 12px;

  }

  .card:hover {
    transform: scale(0.99, 0.99);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1),
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }

  .title-white {
    color: white;
  }

  .title-black {
    color: var(--black);
  }

  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }


  /*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */

/* END RESULTS STYLING */

/* -------- END HOME PAGE STYLING -------- */

/* ABOUT PAGE STYLING */

.about-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.about-header {
    color: blue;
}

/* END ABOUT PAGE STYLING */

/* DIRECTORY PAGE STYLING */

.directory-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

/* INDIVIDUAL GAME PAGE STYLING */

.game-title {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.game-desc {
    position: relative;
}
