:root {
  --white: #f5f5f5;
  --blue: #17408b;
  --red: #c9082a;
  --hoverblue: rgb(15, 15, 205);
  --nflblue: #013369;
  --nflred: #D50A0A;
}

@font-face {
  font-family: graduate;
  src: url('font/Graduate-Regular.ttf') format(opentype);
}

body {
  font-family: 'coluna', sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.help {
  display: flex;
  flex-direction: column;
  font-family: graduate ;
}

h1 {
  text-align: center;
  /* border: 1px solid white; */
  position: relative;
  top: 5rem;
  color: black;
  font-size: 1.25rem;
  font-weight: 400;
  /* font-family: 'Crimson Pro', serif; */
  font-family: 'Noto Serif', serif;
}

.image-wrapper {
    width: 100%;
    display: flex;
    margin-top: 5rem;
}

#image-container {
    width: 300px;
    height: 300px;
    margin: 5rem auto 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #team-image {
    max-width: 100%;
    max-height: 100%;
  }

  #generate-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background-color: #014186;
    color: var(--white);
    font-family: graduate;
    font-size: 40;
    border: 5px solid #f30e0e;

    border-radius: 50%;
    height: 125px;
    width: 125px;
    cursor: pointer;
  }

  #generate-button:hover {
    background-color: var(--hoverblue);
    border: 7px solid var(--red);
  }

  #generate-button:active {
    background-color: var(--blue);
    border: 7px solid #f30e0e;
  }



  .switch-button {
    width: 140px;
    height: 140px;
    position: absolute;
    right: 2.5%;
    top: 5%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'Crimson Pro', serif;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .switch-button:hover {
    transform: scale(1.05);
  }



  /********* NFL *********/

  #nfl-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background: var(--nflblue);
    color: var(--white);
    font-family: graduate;
    font-size: 40;
    border: 5px solid var(--nflred);
    border-radius: 50%;
    height: 125px;
    width: 125px;
    cursor: pointer;
  }

  #nfl-button:hover {
    background-color: #014186;
    border: 7px solid #f30e0e;
  }

  #nfl-button:active {
    background-color: var(--nflblue);
    border: 7px solid var(--nflred);
  }

  .nfl-header {
    font-family: 'Crimson Pro', serif;
  }
