:root {
  --white: #fafafa;
  --blue: #17408b;
  --red: #c9082a;
  --hoverblue: rgb(15, 15, 205);
}

@font-face {
  font-family: graduate;
  src: url('font/Graduate-Regular.ttf') format(opentype);
}

body {
  font-family: 'coluna', sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  /* border: 1px solid white; */
  position: relative;
  top: 5rem;
  color: black;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
}

.image-wrapper {
    width: 100%;
    display: flex;
    margin-top: 5rem;
}

#image-container {
    width: 300px;
    height: 300px;
    margin: 5rem auto 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #team-image {
    max-width: 100%;
    max-height: 100%;
  }

  #generate-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background: var(--blue);
    color: var(--white);
    font-family: graduate;
    font-size: 40;
    border: 5px solid #e80a33;
    border-radius: 50%;
    height: 125px;
    width: 125px;
  }

  #generate-button:hover {
    background-color: var(--hoverblue);
    border: 7px solid var(--red);
  }

  #generate-button:active {
    background-color: var(--blue);
    border: 7px solid #e80a33;
  }

